.but{
    border: none;
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 15px;
}

.props-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* space between cards */
  flex-wrap: wrap; /* wrap to next line on small screens */
  background-color: #f2f2f2; /* light gray background */
  padding: 40px;
  min-height: 100vh; /* full screen height */
}
.too{
  display: flex;
  justify-content: space-around;
  background-color: darkmagenta;
}
.too ul{
  list-style: none;
}
.too ul li{
  display: inline;
  padding: 15px, 0px;
}
.too ul li a{
  text-decoration: none;
  padding-left: 25px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.too h4{
  color: white;
  /* font-size: 18px; */
  font-weight: 600;
}
